*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
   height: auto;
}
html,body{
  height:100%;
  width:100%;
}
.parent{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
 min-height: 100vh;
  width:100%;
  background-color: rgb(37, 35, 35);
  padding:20px;

}
.card{
  height: 330px;
  width: 280px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top img{
  height : 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding:2px;
  
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color:#dadada;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

}
.centre h3{
 font-size: 17px;
 font-weight: 500;
}
.centre h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.centre h2{
  font-size: 20px;
  font-weight: 600;
}
.centre .tag{
  display: flex;
  gap: 5px;
  margin: 10px;
}
.centre .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px;
}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}